<!DOCTYPE html>
<head>
    <title>Vulnerability Detection, Reporting and Remediation Outputs</title>
</head>
<body>
    <p>{{ region }}</p>
    <p>{{ from_ses }}</p>
    <p>{{ to_ses }}</p>
    <p>{{ itsm }}</p>
    <p>{{ itsm_protocol }}</p>
    <p>{{ itsm_endpoint }}</p>
    <p>{{ patch_groups }}</p>
    <p>{{ template_name }}</p>
    <p>{{ rules }}</p>
    <p>{{ duration }}</p>
    <p>{{ buck }}</p>
</body>
</html>


<!--
<form action="{{ url_for('handle_data') }}" method = "POST"></form>
-->
